.services__container {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.875rem;
}

.services__card {
    text-align: center;
    padding: 1.875rem;
    border-radius: var(--border-radius);
    background-color: var(--container-color);
    transition: all 0.3s ease-in-out
}

.services__card:hover {
    transform: translateY(-10px);
}

.services__card:nth-child(1) {
    background-color: var(--service-color1);
    box-shadow: var(--shadow);
}

.services__card:nth-child(2) {
    background-color: var(--service-color2);
    box-shadow: var(--shadow);
}

.services__card:nth-child(3) {
    background-color: var(--service-color3);
    box-shadow: var(--shadow);
}

.services__img {
    margin-bottom: 1.25rem;
}

.services__title {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-bottom: 1rem;
    color: #ffff
}

.services_description {
    font-size: var(--normal-font-size);
    color: #ffff
}

.services__card:nth-child(2) .services__title {
    color: var(--title-color);
}

.services__card:nth-child(2) .services_description {
    color: var(--text-color);
}

.services__stack {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 1.875rem;
    align-items: center; 
}

.services__stack__item {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    column-gap: 1.7rem;
    transition: all 0.3s ease-in-out;
    background-color: var(--container-color);
    border-radius: var(--border-radius);
    padding: 1.875rem;
    margin-bottom: 1.875rem;
}

.services__stack__item:hover{
    transform: translateY(-15px);
}

.services__stack__item:hover .services__stack__icon{
    color: var(--hover-color);
}

.services__stack__title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

.services__stack__icon {
    font-size: 3.75em;
    margin-bottom: 0.5em;
    color: #f49403;
    background-clip: text;
    transition: all 0.3s ease-in-out;
}

.services__stack__icon path {
    fill: rgb(255, 148, 148); 
}

@keyframes textGradient {
    0% {
        color: #86420a;
    }
    25% {
        color: #f44141;
    }
    50% {
        color: #fdbc30;
    }
    75% {
        color: #ff6781;
    }
    100% {
        color: #f40303;
    }
}

@media screen and (max-width: 1024px) {
    .services__container {
        grid-template-columns: repeat(2, 330px);
        justify-content: center;
        row-gap: 1.875rem;
    }

    .services__stack {
        grid-template-columns: repeat(3, 250px);
        justify-content: center;
        row-gap: 1.875rem;
    }

    .services__stack__item { 
        margin-bottom: 0;
    }
}

@media screen and (max-width: 768px) {
    .services__container {
        grid-template-columns: 310px;
    }

    .services__stack { 
        grid-template-columns: repeat(2, 110px);
    }

    .services__stack__item { 
        margin-bottom: 0;
        padding: 0.875rem;
    }
}

@media screen and (max-width: 350px) {
    .services__container {
        grid-template-columns: 1fr;
    }

    .services__stack__item { 
        margin-bottom: 0;
        padding: 0.875rem;
    }
}