.blog__container {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1.875rem;
}

.blog__card {
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
    overflow: hidden;
}

.blog__thumb { 
    position: relative;
    overflow: hidden;
}

.blog__img {
    transform: scale(1);
    transition: .3s;
}

.blog__thumb:hover .blog__img {
    transform: scale(1.1);
}

.blog__details {
    background-color: var(--container-color);
    padding: 1.25rem;
}

.blog__title {
    font-size: var(--h3-font-size);
    margin-bottom: 0.5rem;
}

@media screen and (max-width: 1024px) {
    .blog__container {
        grid-template-columns: repeat(2, 330px);
        justify-content: center;
        row-gap: 1.875rem;
    }
}

@media screen and (max-width: 768px) {
    .blog__container {
        grid-template-columns: repeat(2, 150px);
    }
}

@media screen and (max-width: 350px) {
    .blog__container {
        grid-template-columns: 1fr;
    }
}

