/*-----------------Google Fonts-----------------*/
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

/*-----------------Variables CSS-----------------*/
:root {
  /*-----------------Colors-----------------*/
  /*Color mode HSL (hue, saturation, ligtness)*/
  --first-color: hsl(353, 100%, 65%);
  --title-color: hsl(244, 24%, 26%);
  --text-color: hsl(244, 16%, 43%);
  --text-color-2: hsl(244, 16%, 43%);
  --body-color: hsl(30, 80%, 96%);
  --hover-color: hsl(253, 86%, 61%);
  --service-color1: hsl(253, 66%, 67%);
  --service-color2: hsl(61, 86%, 61%);
  --service-color3: hsl(0, 88%, 66%);
  --container-color: #fff; 

  /* Colors for Dark Mode */
  /* --first-color: hsl(353, 100%, 65%);
  --title-color: hsl(246, 56%, 69%);
  --text-color: hsl(244, 76%, 92%);
  --text-color-2: hsl(244, 16%, 43%);
  --body-color: hsl(261, 64%, 9%);
  --hover-color: hsl(253, 79%, 81%);
  --service-color1: hsl(253, 66%, 67%);
  --service-color2: hsl(61, 86%, 61%);
  --service-color3: hsl(0, 88%, 66%);
  --container-color: #434281;  */

  /*-----------------Font and typography-----------------*/
  /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px, 2rem = 32px */
  --body-font: 'Rubik', sans-serif;
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: .875rem;
  --smaller-font-size: .813rem;

  /*-----------------Font Weight-----------------*/
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;

  /*-----------------Box Shadow-----------------*/
  --shadow: 0px 5px 20px 0px rgb(69 67 96 / 10%);

  /*-----------------Border Radius-----------------*/
  --border-radius: 20px;
}

/*-----------------Responsive typography-----------------*/
@media screen and (max-width: 1024px) {
  :root {
    --h1-font-size: 1.75rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
  }
}

/*-----------------Global Styles-----------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body, 
button, 
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  line-height: 1.7;
  color: var(--text-color);
}

h1, h2, h3 {
  color: var(--title-color);
  font-weight: var(--font-semibold);
  line-height: 1.2;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

/*-----------------Reusable CSS Classes-----------------*/
.container {
  max-width: 1080px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

.grid {
  display: grid;
}

.section {
  padding-top: 7rem;
  padding-bottom: 2rem;
}

.section__title {
  font-size: var(--h1-font-size);
  margin-left: 0.875rem;
  font-weight: var(--font-bold);
  position: relative;
  margin-bottom: 3.75rem;
}

.section__title::before {
  content: '';
  background: url('./assets/dots-bg.svg');
  height: 2.25rem;
  width: 2.25rem;
  position: absolute;
  left: -0.875rem;
  top: -0.875rem;
}

.section__subtitle {
  font-size: var(--h2-font-size);
  margin-left: 0.875rem;
  font-weight: var(--font-semibold);
  position: relative;
  margin-bottom: 3.75rem;
  margin-top: 3.75rem;
}

.section__subtitle::before {
  content: '';
  background: url('./assets/dots-bg.svg');
  height: 2.25rem;
  width: 2.25rem;
  position: absolute;
  left: -0.875rem;
  top: -0.875rem;
}

.btn {
  padding: 0.75rem 2rem;
  line-height: 1;
  border-radius: 1.875rem;
  box-shadow: 0 0 1px 0 rgb(0 0 0 / 100%);
  border: 1px solid transparent;
  color: #fff;
  display: inline-block;
  background-color: var(--first-color);
  font-weight: var(--font-bold);
}

@keyframes button-push {
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

.btn:hover {
  animation: button-push 0.3s linear 1;
}